@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="alert alert-danger alert-dismissible fade show m-2" role="alert">
    <strong>Ocorreu um erro!</strong> Durante o processamento da requisição.
    @if (Model != null && Model.ShowRequestId)
    {
        <p>
            <strong>Requisição ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Mode de Desenvolvimento</h4>
    <p>
        A troca para o ambiente de <strong>desenvolvimento</strong> exibirá informações mais detalhadas sobre o erro ocorrido.
    </p>
    <p class="mb-0">
        <hr>
        <strong>O ambiente de desenvolvimento não deve ser ativado para aplicativos implantados.</strong>
        Isso pode resultar na exibição de informações confidenciais de exceções para usuários finais.
        Para depuração local, ative o ambiente de <strong>desenvolvimento</strong> definindo a variável de ambiente <strong>ASPNETCORE_ENVIRONMENT</strong> como <strong>Development</strong>
        e reiniciando o aplicativo.
    </p>
    <p class="mb-0">Sempre que precisar, certifique-se de usar utilitários de margem para manter as coisas limpas e organizadas.</p>
</div>