@{
    ViewData["Title"] = "Login";
}
<div class="card login mt-5">
        <h5 class="card-title text-center">Acesso Restrito</h5>
    <div class="card-body">
        <form>
            <div class="input-group mb-3">
                <span id="lblEmail" class="input-group-text">Login</span>
                <input type="email" class="form-control" placeholder="Login" aria-label="Login" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <label id="lblSenha" class="input-group-text">Senha</label>
                <input id="txtSenha" type="password" class="form-control" placeholder="Senha" aria-label="Email" aria-describedby="basic-addon2" />
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Entrar</button>
            </div>
        </form>
    </div>
</div>